body {
    font-family: 'Old Standard TT', serif;
    background-color: #ede0ce
}

.book-cover {
    text-align: center;
    text-transform: uppercase;
    margin-top: 3em;
}

h1,h2,h3,h4,h5,h6 {
    text-rendering: optimizeLegibility;
    font-weight: normal;
}

.kern {
    letter-spacing: -0.18em;
}

h1 {
    font-size: 58px;
    line-height: 80px;
}

.small {
    font-size: 18px;
}

.divider {
    margin: 0 auto;
    margin-bottom: 1em;
}

.publisher {
    margin-top: 5em;
}

a,a:hover {
    color: black;
    text-decoration: none;
}

a:hover {
    font-weight: 700;
}
